*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
}
img{
    width: 100%;
}

button{
    width: fit-content;
    height: fit-content;
    padding: .3rem 1rem;
    text-align: center;
    border-radius: 2rem;
    border: none;
    background-color:	rgb(139, 76, 13);
    cursor: pointer;
    transition: .5s ease-in;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6),
    0px 0px 5px 0px rgba(0, 0, 0, 0.6);


    
    a{
        text-decoration: none;
        color: white;
        font-size: clamp(.5rem, 1.2vw, 2rem);
        font-weight: bolder;
    }
}

button:hover{
    background-color: white;
    border: 1px solid rgb(139, 76, 13);
  
    a{
        color: rgb(139, 76, 13);
    }
}

p{
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.container{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
   

    header{
        height: 4rem;
        background-color: white;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 1rem 2rem;
        position: sticky;
        left: 0;
        top: 0;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6),
        0px 0px 5px 0px rgba(0, 0, 0, 0.6);

        .headerTitle{
            display: flex;
            justify-content: center;
            align-items: center;

            .logo{
                img{
                    width: 30%;
                    height: 30%;
                }
            }   
        }
    }
    
    .hero{
        height: calc(100vh - 4rem);
        background-image: url(https://images.unsplash.com/photo-1580519542036-c47de6196ba5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: black;
        font-size: clamp(1.1rem, 1.4vw, 2rem);
        width: 100%;
        position: relative;

        .heroText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 3rem;
            height: 100%;
            z-index: 2;
            position: relative;
            color: white;

            .flexText{
                display: flex;
                justify-content: space-between;
                align-items:center;
                text-align: justify;
                

                .dimexText{
                    padding-right: 2rem;
                }

                h2{
                    color: rgb(139, 76, 13);
                    padding-bottom: .6rem;
                    font-size: clamp(2rem, 2.7vw, 3.2rem);
                }
            }

            .flexBtn{
                margin-top: 3rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;

                button{
                    padding: .8rem 3rem ;
                }
            }
        }
       
        .blur{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            
        }          
            
    }
        
}

footer{
    text-align: center;
    padding: 1rem;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
}

@media screen and (max-width:520px) {

    .heroText{
      
        .flexText{
          flex-direction: column;

          .dimexText{
            padding-bottom: 1rem;
          }
           
        }
    }
}